html {
  box-sizing: border-box;
}

body {
  background-color: #1e4c25;
  color: #f0e6d1;
  font-family: "Roboto", "Georgia", serif;
  line-height: 1.7;
  margin: 0;
  padding: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

b {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dda15e;
  margin-top: 24px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 4px #000;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5,
h6 {
  font-size: 1.2em;
}

a {
  color: #e0a96d;
  text-decoration: none;
  border-bottom: 2px solid #e0a96d;
}

a:hover {
  color: #f4a261;
  border-color: #f4a261;
}

code {
  background-color: #3c3c42;
  border-radius: 6px;
  color: #e9c46a;
  padding: 0.4em 0.6em;
  font-family: "Courier New", monospace;
}

pre code {
  padding: 0;
}

pre {
  background-color: #3c3c42;
  border-radius: 6px;
  padding: 1em;
  overflow: auto;
  box-shadow: 2px 2px 6px #000;
}

blockquote {
  background-color: #2e2c35;
  border-left: 4px solid #8d99ae;
  padding-left: 2em;
  margin-left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  color: #ddd;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  border: 3px solid #3c3c42;
  box-shadow: 3px 3px 6px #000;
}

li {
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav li {
  display: inline-block;
}
