html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MesloLGS Nerd Font Mono';
  src: url('MesloLGSNFM-Regular.woff2') format('woff2'),
    url('MesloLGSNFM-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/board2.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  display: grid;
  color: #ffd7af;
  font-family: "MesloLGS Nerd Font Mono", "Garamond", serif;
  line-height: 1.7;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  min-height: 100vh;
  padding: 0px;
}

b {
  font-weight: 900;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1 {
  font-size: 2.5em;
  text-decoration: none;
  color: limegreen;
  margin: 0em;
}

h2 {
  font-size: 2em;
  color: limegreen;
}

h3 {
  text-align: cente;
  font-size: 1.5em;
  color: limegreen;
  margin-top: 0em;
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  color: limegreen;
  font-size: 1.2em;
  margin-top: 14px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 4px #000;
}

p {
  font-size: 18;
  text-align: left;
  margin: 1rem auto;
}

a {
  color: limegreen;
  text-decoration: none;
}

a:hover {
  color: #f4a261;
  border-color: #f4a261;
}

a.apt-button {
  background-color: limegreen;
  border: 2px solid #ffd7af;
  color: white;
  display: inline-block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
}

code {
  background-color: #3c3c42;
  border-radius: 6px;
  color: #e9c46a;
  padding: 0.4em 0.6em;
  font-family: "Courier New", monospace;
}

div {
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 90%;
}

blockquote {
  background-color: #2e2c35;
  border-left: 4px solid #8d99ae;
  padding-left: 2em;
  margin-left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  color: #ddd;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav {
  margin: auto;
  display: flex;
  position: sticky;
  height: auto;
  top: 0;
  justify-content: space-between;
  width: auto;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: auto;
  background-color: #333;
  padding-left: 0px;
  padding-right: 0px;
  top: 0;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding-right: 1em;
  padding-left: 1em;
}

ul {
  border: none;
}

footer {
  text-align: center;
  line-height: 0.8;
}

#Brendan_photo {
  border: solid 5px limegreen;
  float: right;
  margin: 1em;
}

div.flow {
  display: flex;
  justify-content: center;
  align-items: center;

}


div.flow img {
  margin: auto;
}
